.App {
 background:#fff;
 height: 100vh;
 width: 100%;
 position: relative;
}
.imgs1{
  object-fit: contain;
  position: absolute;
  right: 0%;
  bottom: 0%;
}
.imgs{
  position: absolute;
  top: 0%;
  left: 0%;
}

.container{
  background: red;
  margin: auto;
  width: 65%;
  height: 100%;  
}



